# Backend
backend/venv/
backend/__pycache__/
backend/uploads/
backend/.env
backend/*.db
backend/models/*.keras
backend/models/*.h5

# Frontend
frontend/node_modules/
frontend/dist/

# Python cache
**/__pycache__/
**/*.pyc

# OS
.DS_Store
Thumbs.db